:root {
	--nord0: #2E3440;
	--nord1: #3B4252;
	--nord2: #434C5E;
	--nord3: #4C566A;
	--nord4: #D8DEE9;
	--nord5: #E5E9F0;
	--nord6: #ECEFF4;
	--nord7: #8FBCBB;
	--nord8: #88C0D0;
	--nord9: #81A1C1;
	--nord10: #5E81AC;
	--nord11: #BF616A;
	--nord12: #D08770;
	--nord13: #EBCB8B;
	--nord14: #A3BE8C;
	--nord15: #B48EAD;
	--font: BlinkMacSystemFont, -apple-system, "Sagoe UI", "Roboto",
		"Ubuntu", "Cantarell", "Droid Sans", "Fira Sans", "Helvetica Neu Helvetica",
		"Arial", sans-serif;
}

/*
*{outline: 1px solid red;}
*/


body{
	font-family: var(--font);
	color: var(--nord1);
	background: url('fondo2.jpg');
	background-size: 127%;
}

header{
	display: flex;
	
	
}

section{
	display: flex;
}

header, section {
	width: 960px;
	margin: 0 auto;
}

.foto-perfil{
	width: 200px;
	height: 200px;
	margin-right: 16px;
}

.img-certificado{
	width: 450px;
	height: 370px;
	margin-left: -30px;
}

article {
	width: 60%;
}

/*viñetas*/ 


.vinieta-contacto{
	list-style-type: '📱   ';
}

.vinieta-email{
	list-style-type: '📧  ';
}

.vinieta-web{
	list-style-type: ' 🌐  ';
}

.vinieta-ubicacion{
	list-style-type: '📍   ';
}

.vinieta-nacimiento{
	list-style-type: '👶  ';
}

.vinieta-dni{
	list-style-type: '📗  ';
}

button{
	background-color: #2962ff;
	border-radius: 6px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.vinieta-cuadrado{
	list-style-type: square;
}

.contenedor{
	width: 950px;
	height: 900px;
	margin:30px auto;
	background-color: #e9f9f1;

}

.contenedor-body{
	padding-top: 8px;
	padding-left: 8px;
	outline: 2px solid black;
	background-color: #ffffff;
}

.contenedor-foto{
	width: 400px;
	height: 250px;
	background-color: #d0d0d0;

}

.contenedor-foto-2{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.contenedor-nomApe{
	display: grid;
	padding-left: 46px;
	font-size: 23px;
}

.desarrollo-soft{
	margin-left: 45%;
	margin-top: -40px;
}

.contenedor-info{
	margin-top: 10px;
	width: 400px;
	height: 900px;
	outline: 1px solid #52aa9c;
	background-color: #52aa9c;
	color: #ffffff;
}

.contenedor-infoPersonal{
	display: grid;

}

.contenedor-perfilProfecional{
	width: 500px;
	height: 100px;
	margin-left: 50px;
	margin-top: 30px;
}

.contenedor-perfilProfecional_contenido{
	display: flex;
	font-size: 14px;
	margin-right: 45px;
}

.contenedor-idiomas-conocimientos{
	margin-left: 10px;
}

.informacion-academica{	
	color: #ffffff;
	margin-top: 50px;
	background-color: #52aa9c;
	width: 280px;
	
	
}

.informacion-academica_texto{
	padding-top: 8px;
	margin-left: 40px;
	padding-bottom: 7px;

}
